:root {
    --theme-container-background: rgba(52, 52, 52, 0.5);
    --theme-container-border-radius: 1em;
    --theme-font-color: white;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
    color: white;
}

body {
    /* When you have too cheap hosting */
    background-image: url("https://i.imgur.com/ZSAhHvU.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.headline {
    text-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 69);
}

.hoverup {
    transition: transform 0.5s;
}

.hoverup:hover {
    transform: scale(1.05) !IMPORTANT;
}

a {
    text-decoration: none;
}

.shadow {
    box-shadow: 0.5em 0.5em 4em rgba(0, 0, 0, 0.69)
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    min-height: 100vh;
    text-shadow: .1em .1em 1em #000;
}

.header_inner {
    padding-left: 10%;
    padding-right: 10%;
}

.header_inner h1 {
    font-size: 750%;
    margin: 0;
}

.panel_inner p {
    margin-top: 0;
    margin-bottom: 5%;
}

.panel_inner, .panel_wrapper_inner {
    color: var(--theme-font-color);
    background-color: var(--theme-container-background);
    border-radius: var(--theme-container-border-radius);
    backdrop-filter: blur(0.5em);
    transition: all 0.5s;
    box-shadow: 0.5em 0.5em 4em rgba(0, 0, 0, 0.69);
}

.panel_inner * {
    text-align: center;
}

.panel_inner:hover:not(.no-hover) {
    transform: scale(1.05)
}

.panel_p {
    padding-top: 0;
    margin-top: 0;

    min-height: 1.25em;
}

.panel_p:not(:last-of-type) {
    margin: 0;
    padding-top: 0;
}

.panel_p:not(:first-of-type) {
    padding-top: 0;
}

#about_panels {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel_fw {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
}

.headline img, #about_panels img {
    height: 10vw;
    display: block;
    margin-top: 5%;
    filter: invert(1);
}

#about_panels .panel_fw .panel {
    display: inline-block;
    flex-basis: 30%;
    margin: 1%;
    flex-shrink: 1;
}

#about_panels .panel_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    min-height: 100%;
}

#about_panels .panel_inner h1 {
    margin-bottom: 0;
}

.full_height {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/* ----- Navbar ----- */
.navbar {
    background-color: var(--theme-container-background);
    box-shadow: 0 0 4em rgba(0, 0, 0, 0.69);
    width: 95%;
    margin-top: 1%;
    padding: 1%;
    border-radius: var(--theme-container-border-radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(1em);
}

.navbar > * {
    display: inline-block;
    color: white;
}


.navbar img[src$=".svg"] {
    filter: invert(1);
}

.navbar_outer {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    z-index: 10;
}

.name {
    font-size: xx-large;
    padding: 0;
    margin: 0;
}

.navbar_links {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.navbar_links > * {
    transition: all 0.5s;
}

.navbar_links > *:not(.account_link):hover {
    transform: scale(1.15);
    cursor: pointer;
}

.account_button {
    cursor: pointer;
}

.navbar_button {
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: calc(var(--theme-container-border-radius) * 0.5);
}

.navbar_button * {
    width: 2em;
}

.navbar_button:hover {
    background-color: #95959530;
}

.navbar_button:not(:last-of-type) {
    margin-right: 1em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: var(--theme-container-background);
    border-radius: calc(var(--theme-container-border-radius) / 2);
    z-index: 1;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    margin-top: 1.5%;
    padding: 0 0;
}

.dropdown_content * {
    color: white;
    text-decoration: none;
    background-color: rgba(var(--theme-container-background), 0.6);
    display: block;
    min-width: 10vw;
    text-align: center;
    padding: 5% 2%;
    transition: background-color 400ms;
    cursor: pointer;
}

.dropdown_content *:hover {
    background-color: #95959530;
}

.flex {
    display: flex;
}

.box-padding {
    padding: 1.5% 2%;
}

.box-padding h1 {
    width: 100%;
    text-align: center;
}
